 /**
 * ----------------------------------------
 * first section contents animation
 * ----------------------------------------
 */

@keyframes fadeinRight {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/**
 * ----------------------------------------
 * bestseller fade-in animation
 * ----------------------------------------
 */

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInCenter {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#bestseller-text {
    animation: fadeInLeft 1s ease 0s 1 normal forwards;
}

#carouselExampleCaptions, #map-embed, .navbar > *, footer > * {
    animation: fadeInCenter 2.5s ease 0s 1 normal both;
}

#intro p, #intro h1, #location-text {
    animation: fadeinRight 3s ease 0s 1 normal forwards;
}
