// custom definitions and extensions

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

/* color theme */
$custom-colors: (
  "oakbrown": #3c2f07,
  "tan": #b68d40,
  "cream": #f4ebd0,
  "charcoal": #122620,
  "darkvanilla": #d7c6b4
);

$theme-colors: map-merge($theme-colors, $custom-colors);

/* margin and padding */
$props: ('m', 'p');
$sides: ('t', 'b', 's', 'e');

@each $p in $props {
    @each $s in $sides {
        @for $i from 1 through 12 {
            .#{$p}#{$s}-#{$i} {
                @if ($p == "m") {
                    @if ($s == "t") { margin-top: #{$i}rem !important; }
                    @if ($s == "b") { margin-bottom: #{$i}rem !important; }
                    @if ($s == "s") { margin-left: #{$i}rem !important; }
                    @if ($s == "e") { margin-right: #{$i}rem !important; }
                }

                @else if ($p == "p") {
                    @if ($s == "t") { padding-top: #{$i}rem !important; }
                    @if ($s == "b") { padding-bottom: #{$i}rem !important; }
                    @if ($s == "s") { padding-left: #{$i}rem !important; }
                    @if ($s == "e") { padding-right: #{$i}rem !important; }
                }
            }
        }
    }
} 

/* spacers */
$spacers: (
    0: 0rem,
    0_50: 0.5rem,
    1: 1rem, 
    1_50: 1.5rem,
    2: 2rem,  
    2_50: 2.5rem,
    3: 3rem,    
    3_50: 3.5rem,
    4: 4rem,
    4_50: 4.5rem,
    5: 5rem,    
    5_50: 5.5rem,
    6: 6rem,
    6_50: 6.5rem,
    7: 7rem,
    7_50: 7.5rem,
    8: 8rem,
    8_50: 8.5rem,
    9: 9rem,
    9_50: 9.5rem,
    10: 10rem
);

// import

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
